{% extends "::base.html.twig" %}

{% block title %}{% trans %}Contacto{% endtrans %}{% endblock %}

{% block content %}
<p>{% trans %}Su email ha sido enviado correctamente{% endtrans %}.<br />
{% trans %}En breve nos pondremos en contacto con usted{% endtrans %}.</p>
{% endblock %}