{% extends "::base.html.twig" %}

{% block title %}{% trans %}Trabaja con nosotros{% endtrans %}{% endblock %}

{% block content %}
<h1>{% trans %}Trabaja con nosotros{% endtrans %}</h1>
    <p>{% trans %}Proficient es una agencia dinámica, en continua evolución y expansión. Por ello, el número de profesionales que trabaja con nosotros aumenta constantemente{% endtrans %}.</p>
    <p>{% trans %}El perfil del colaborador freelance que buscamos debe cumplir los siguientes requisitos{% endtrans %}:</p>
    <ul>
        <li>{% trans %}Licenciado en traducción e interpretación o filología{% endtrans %}.</li>
        <li>{% trans %}Alta en el régimen de autónomo{% endtrans %}.</li>
    </ul>
    <p>{% trans %}Si desea trabajar con nosotros y cumple los requisitos solicitados, por favor envíe su currículum y carta de presentación a la siguiente dirección{% endtrans %}: 
<a href="mailto:recursoshumanos@proficient.es">recursoshumanos@proficient.es</a></p>
    <p><strong>{% trans %}Desde Proficient queremos agradecerte el interés mostrado por nuestra agencia{% endtrans %}. </strong></p>
</div>
{% endblock %}