{% extends "::base.html.twig" %}

{% block title %}{% trans %}Idiomas{% endtrans %}{% endblock %}

{% block content %}
    <h1>{% trans %}Idiomas{% endtrans %}</h1>
		<p>{% trans %}Nuestro equipo de profesionales realiza trabajos de traducción, corrección y transcripción en los principales idiomas de Europa que resultan imprescindibles hoy en día para garantizar el éxito de su negocio{% endtrans %}.</p>
		<p>{% trans %}Los idiomas con los que trabajamos son{% endtrans %}:</p>
		<p><strong>{% trans %}Castellano{% endtrans %}, {% trans %}catalán{% endtrans %}, {% trans %}valenciano{% endtrans %}, {% trans %}inglés{% endtrans %}, {% trans %}francés{% endtrans %}, {% trans %}alemán{% endtrans %}, {% trans %}italiano{% endtrans %}, {% trans %}holandés{% endtrans %}.</strong></p>
		<p>{% trans %}Si no encuentra el idioma que usted necesita{% endtrans %}, <a 
href="http://www.proficient.es/contacto/" title="Contacto">{% trans %}contáctenos{% endtrans %}</a>.
{% endblock %}