{% extends "::base.html.twig" %}

{% block title %}{% trans %}Colaboración con ONG'S{% endtrans %}{% endblock %}

{% block content %}
    <h1>{% trans %}Colaboración con ONG'S{% endtrans %}</h1>
		<p>{% trans %}Proficient ofrece asistencia lingüística a ONGs e instituciones de ayuda social y humanitario a través de estudiantes universitarios de Traducción e Interpretación o recién licenciados{% endtrans %}.</p>
		<p>{% trans %}Esta sección se creó con una doble finalidad{% endtrans %}. {% trans %}Por una parte, queremos introducir a estudiantes en el mundo de la traducción y ayudarles a adquirir experiencia en su futura profesión y, por otra, proporcionar ayuda a ONGs{% endtrans %}.</p>
		<p>{% trans %}Si deseas colaborar con ONGs, mándanos tu curriculum indicándonos tus combinaciones idiomáticas. Todos aquellos traductores licenciados que estén dispuestos a prestar ayuda a este tipo de organizaciones gozarán de un puesto privilegiado en nuestra plantilla de traductores{% endtrans %}. </p>
		<p>{% trans %}Si por otra parte, eres o perteneces a una ONG y necesitas nuestros servicios, no dudes en ponerte en contacto con nosotros{% endtrans %}. {% trans %}Queremos contribuir al cumplimiento de tus objetivos{% endtrans %}.</p>
{% endblock %}