{% extends "::base.html.twig" %}

{% block title %}{% trans %}Quiénes somos{% endtrans %}{% endblock %}

{% block content %}
    <h1>{% trans %}Quiénes somos{% endtrans %}</h1>
        <p>{% trans %}Proficient es una agencia centrada en el ámbito de la traducción y de otros servicios conexos, que cuenta con un personal altamente cualificado y un equipo de excelentes profesionales nativos que traducen única y exclusivamente hacia su lengua materna{% endtrans %}.</p>
        <p>{% trans %}Nuestro objetivo es ayudarle a transmitir su mensaje en otros idiomas, salvaguardando todo el sentido y los matices de su comunicación, aportando así a su negocio una importante ventaja competitiva{% endtrans %}.</p>
        <p>{% trans %}La calidad de cada uno de nuestros proyectos está asegurada por un proceso sistemático de revisión lingüística{% endtrans %}. {% trans %}El concepto de revisión y corrección a cargo de un tercero es un requisito indispensable para garantizar la calidad final de las traducciones{% endtrans %}.</p>
        <p>{% trans %}Para alcanzar la plena satisfacción del cliente es imprescindible definir sus necesidades y contar con su ayuda y colaboración durante todo el proceso{% endtrans %}. </p>
        <p>{% trans %}Proporcionamos asistencia lingüística a ONGs para fomentar la solidaridad y darle un enfoque social a la profesión del traductor{% endtrans %}. {% trans %}Ofrecemos gratuitamente nuestros servicios a organizaciones sin ánimo de lucro mediante una plantilla de traductores involucrados en el compromiso social{% endtrans %}. </p>
{% endblock %}